# Your TG bot token @BotFather
TELEGRAM_TOKEN=1234567890:ABCdefGHIjklMNOpqrSTUvwxYZ

# TG user-admin id
ADMIN_IDS=123456789,987654321

# DB connect
# DATABASE_URL=postgresql://user:password@localhost:5432/tracker_db
